@import "../../../styles/variables";

.card {
}

.cardTitle {
  color: $color-light-red;
  font-size: 0.75rem;
  margin: 1rem 0;
}

.cardSubtitle {
  color: $color-black;
  margin-bottom: 0.5rem;
}

.cardDescription {
  color: $color-gray;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .card {
    width: 394px;
  }
  .cardTitle {
    font-size: 1rem;
  }
  .cardSubtitle {
    font-size: 2rem;
  }
  .cardDescription {
    font-size: 1.125rem;
  }
}
