@import "../../../styles/variables";

.card {
}

.cardTitle {
  color: $color-light-red;
  font-size: 0.75rem;
  margin: 1rem 0;
}

.cardSubtitle {
  color: $color-black;
  margin-bottom: .5rem;
}

.cardDescription {
  color: $color-gray;
  font-size: 0.875rem;
}
