@import "../../styles/variables";

.hero {
  text-align: center;
  margin-top: 3rem;
}

.heroTitle {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  letter-spacing: -.05em;
}

.heroDescription {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  color: $color-gray-200;
}

.heroButton {
  color: white;
  background-color: $color-red;
  margin-bottom: 3rem;
}

.heroButton:hover {
  transition: color 0.3s;
  background-color: $color-dark-red;
}

@media (min-width: 768px) {
  .hero {
    max-width: 1240px;
    margin: 3rem auto 0 auto;
  }
  .heroTitle {
    font-size: 4rem;
  }
  .heroDescription {
    font-size: 1.125rem;
  }
  .heroButton {
    color: white;
    background-color: $color-red;
    margin-bottom: 3rem;
    font-size: 1.25rem;
  }
}
