$color-gray: #afadb5;
$color-gray-400: #ededed;
$color-gray-500: #F6F6F6;
$color-black: #151411;
$color-light-red: #ff9494;
$color-red: #aa3434;
$color-vibrant-red: #fb5f5f;
$color-dark-red: #8e2b2b;
