@import '../../../styles/variables';


.servicesCard {
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.servicesCard:not(:last-child) {
  margin-bottom: 1.5rem;
}

.servicesCardIcon {
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: $color-vibrant-red;
}

.servicesCardTitle {
  font-size: 1rem;
  color: $color-black;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.servicesCardDescription {
  font-size: 0.875rem;
}
