@import "../../styles/variables";

.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-400;
}

@media (min-width: 768px) {
  .header {
    max-width: 1240px;
    margin: 0 auto;
  }
}
