@import "../../styles/variables";

.section {
  padding-inline: 1.5rem;
  margin: 3.5rem 0;
}

.sectionCentered {
  text-align: center;
}

.sectionInverted {
  padding-block: 3rem;
  background-color: rgb(126, 13, 13);

  .title {
    color: rgb(245, 164, 164);
  }

  .subtitle {
    color: white;
  }

  .description {
    color: white;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 0.875rem;
  color: $color-light-red;
  margin-bottom: 1rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
  color: $color-black;
}

.description {
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
  }

  .title {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head .description {
    text-align: right;
  }
}
