@import "../../styles/variables";

.section {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.sectionCentered {
  text-align: center;
}

.title {
  font-size: 0.875rem;
  color: $color-light-red;
  margin-bottom: 1rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
  color: $color-black;
}

.description {
  font-size: 0.875rem;
  margin-bottom: 2rem;
}


@media (min-width: 768px) {
  .section {
    max-width: 1240px;
    margin: 6rem auto 0 auto;
  }

  .title {
    font-size: 1rem;
  }
  
  .subtitle {
    font-size: 2.5rem;
  }
  
  .description {
    font-size: 1.125rem;
  }
 
}

@media (min-width: 1024px) {
  .head{
    display: flex;
    justify-content:center;
    align-items:center;
  }
  
  .head .description {
    text-align: right;
  }
}


