@import "../../styles/variables";

.contacts {
  margin-bottom: 5rem;
}

.contactInfo {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.contactTitle {
  padding-bottom: 1rem;
  color: #787878;
  font-weight: 500;
  font-size: 0.875rem;
}

.contactButtons {
  display: flex;
  gap: 1rem;
}

.contactButton {
  justify-content: center;
  display: flex;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  align-items: center;
  color: $color-gray-500;
}

.contactButton:hover {
  filter: opacity(90%);
}

.phone {
  background: #72a93c;
}

.email {
  background: #ca2727;
}

.instagram {
  background: #833ab4;
}

.facebook {
  background: #4267b2;
}

.contactText {
  color: $color-gray-500;
  display: none;
}

.map {
  border: 0;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .map {
    width: 100%;
    height: 450px;
  }
  .contactText {
    display: block;
  }
  .contactTitle {
    font-size: 1.125rem;
  }
}
