@import "../../styles/variables";

.ourWork {
  display: flex;
  flex-direction: column;
}

.ourWorkCards {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

@media (min-width: 550px) {
  .ourWorkCards {
    overflow-x: unset;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    justify-content: center;
  }
}
